// Colors
$colorPrimaryDark: #0C0E16;
$colorPrimaryLight: #DFE3FA;
$textinputDarkMode: #888EB0;

// Background Colors
$backgroundColorPrimaryDark: #141625;
$backgroundColorPrimaryLight: #F8F8FB;

// Button Default Colors
$btnRed: #EC5757;
$btnLightRed: HSL(0,100%,80%);

// Edit Color Light & Dark
$btnEditColor: #DFE3FA;
$btnEditLightColor: HSL(231,93%,97%);
$btnEditDarkModeColor: #252945; 
$btnEditDarkModeLight: HSL(233, 28%, 15%);


$backgroundDeepPurple: #7C5DFA;
$backgroundHoverLightPurple: #9277FF;
$btnLight: #DFE3FA;

// Typography

//body
$bodyFontSize: 15px;
$bodyFontFamily: 'Spartan', sans-serif;

//title h1
$titleFontWeight: 700;
$titleFontSize: 32px;
$titleLineHeight: 36px;
$titleLetterSpacing: -1;

//bold text
$boldFontSize: 17px;